<template>
  <div>
    <h1 class="title">Signup</h1>
    <form>

      <div class="col-25">
        <label for="firstname">Firstname:</label>
        <input name="firstname" v-model=firstname placeholder="Juan">
      </div>

      <div class="col-25">
        <label for="lastname">Lastname:</label>
        <input name="lastname" placeholder="Dela Fuente">
      </div>

      <div class="col-25">
        <label for="email">Email:</label>

        <input name="email" placeholder="juan@gmail.com">
      </div>

      <input type="checkbox" name="agree"> Agree to Terms and Conditions and
      <input type="checkbox" name="agree_privacy"><a href="/privacy">Privacy Policy </a>

      <input type="button" name="submit" v-on:click="sendCommand">

    </form>
    <p>Firstname is: {{ firstname }}</p>

  </div>
</template>

<script>

/**  config : {  headers: {
                'Content-Type': 'application/json;charset=UTF-8',
                "Access-Control-Allow-Origin": "*"}
                **/
export default {
  name: 'signup',
  data: function () {
    return {
      firstname: null,
      lastname: null,
    }
  },
  methods: {
    sendCommand: function (event) {
      let vm = this;
      console.log(vm.firstname);
      const api = '/api';
   
      if (event) {
        this.axios.post(api, {  jsonData: { firstName: vm.firstname}}
        ).then((response) => {
          console.log('sent', response.data)});
      }
    }
  }

}
</script>
