<template>
  <div id="app">
    <signup></signup>
  </div>
</template>

<script>

import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
Vue.use(VueAxios, axios)

import Signup from './components/Signup.vue'

export default {
  name: 'app',
  components: {
    Signup
  }
}
</script>
